* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.footer {
    background-color: #111;
    color: #fff;
    padding: 40px 20px;
}

.footer-container {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-box {
    width: 300px;
    margin-bottom: 20px;
}

.footer-box h3 {
    margin-bottom: 15px;
    color: #fff;
}

.footer-box p {
    margin-bottom: 10px;
    color: #ccc;
}

/* Social Links */
.social {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #ccc;
    margin-bottom: 10px;
    transition: 0.3s;
    font-size: 16px;
}

.social i {
    font-size: 18px;
}

/* Hover Effects */
.social.whatsapp:hover {
    color: #25D366;
}

.social.facebook:hover {
    color: #1877F2;
}

.social.instagram:hover {
    color: #E1306C;
}

.iconssss {
    display: flex;
    /* margin-left: 1px; */
}

a.social.facebook {
    position: relative;
    left: 14px;
}

a.social.instagram {
    position: relative;
    left: 30px;
}